.heading {
    position: relative;
    top: 20px;
    text-align: center;
    color: black;
    font-size: 40px;
}

.blog-container {
    display: flex;
    position: relative;
    top: 0px;
    left: 0px;
    justify-content: center;
}

.blog-container-content {
    margin-top: 50px;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-container-content .blog-container-img {
    width: 70px;
}

.blog-container-content .font {
    font-size: 15px;
}

.blog-container-content .font-little {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}
