.heading {
    position: relative;
    top: 50px;
    margin-bottom: 54px;
    text-align: center;
    color: #000000;
    font-size: 40px;
}

.blog-container {
    display: flex;
    position: relative;
    justify-content: center;
    margin-bottom: 74px;
}

.blog-container-content {
    margin-top: 50px;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blog-container-content .blog-container-img {
    width: 70px;
    margin-bottom: 38px;
}

.blog-container-content .font {
    font-size: 15px;
    margin-bottom: 36px;
}

.blog-container-content .font-little {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
}
