* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 100%;
}


header img {
    height: 100%;
    width: 100%;
    position: relative;
}

.nav {
    color: white;
    position: absolute;
    top: 25px;
    height: 48px;
    display: flex;
    padding: 0 15px;
    align-items: center;
    /* justify-content: space-between; */
}

.nav .logo {
    display: flex;
    height: 48px;
    align-items: center;
    margin-right: 1130px;
}

.nav .logo img {
    height: 48px;
    margin-right: 15px;
}

.nav .btn {
    display: flex;
    height: 48px;
    align-items: center;

}

.nav .btn .btn-lyp {
    margin-left: 25px;
    border: 1px solid white;
    padding: 5px 10px;
}

.demo {
    position: relative;
}

.demo input {
    padding-left: 15px;
}

.demo .sa {
    position: absolute;
    top: 0;
    left: 0;
}

.search {
    position: absolute;
    display: flex;
    width: 1350px;
    height: 100px;
    left: 45px;
    top: 394px;
    align-items: flex-end;
    letter-spacing: -0.00685714em;
}