* {
    margin: 0;
    padding: 0;
}

/* .btn {
    color: white;
    position: absolute;
} */

/* .btn .btn-lyp {
    border: 1px solid black;
    padding: 10px 10px;
    width: 120px;
} */

/* .area {
    margin-top: 15px;
    position: relative;
    height: 20px;
}

.area input {
    padding: 5px 0px 5px 35px;
    outline: none;
    width: 50px;
}

.area .icon {
    position: absolute;
    height: 15px;
    left: 10px;
    top: 6px;
} */

/* .hospitals {
    margin-top: 15px;
    position: relative;
    height: 20px;
}

.hospitals input {
    padding: 5px 0px 5px 35px;
    outline: none;
    width: 200px;
}

.hospitals .icon {
    position: absolute;
    height: 15px;
    left: 10px;
    top: 6px;
}

.insurance {
    margin-top: 15px;
    position: relative;
    height: 20px;
}

.insurance input {
    padding: 5px 0px 5px 35px;
    outline: none;
    width: 170px;
}

.insurance .icon {
    position: absolute;
    height: 15px;
    left: 10px;
    top: 6px;
} */

/* .header-2 {
    display: flex;
    justify-content: space-evenly;
}
.content {
    margin-top: 50px;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content img p {
    width: 70px;
}

.content .img-2 {
    width: 30px;
}
.content p {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
} */

/* .group-15{
    display: flex;
    position: relative;
    top: 0px;
    justify-content: center;
}

.content-2 {
    margin-top: 50px;
    border: 1px solid black;
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-2 img {
    width: 70px;
}

.content-2 .font{
    font-size: 15px;
}

.content-2 p {
    font-size: 10px;
    padding-top: 10px;
    text-align: center;
} */

/* .mask {
    position: relative;
    width: 200px;
    border: 1px solid black;
    position: relative;
    box-sizing: border-box;
}

.mask img {
    width: 198px;
}

.top-medical {
    font-size: 22px;
    text-align: center;
}

.top-medical p{
    font-size: 15px;
}

.lorem {
    position: relative;
    padding-top: 7px;
}

.lorem p{
    font-size: 10px;
    text-align: center;
}

.common {
    position: relative;
    padding-top: 7px;
    display: flex;
    justify-content: space-around;
} */

